


.heading{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
/* .tbl{
    border: 1px solid;
    width: 100px;



} */
#myTable {
    border-collapse: collapse;
    width: 100%; /* This makes the table width 100% of its container */
}

#myTable th, #myTable td {
    border: 1px solid black;
    padding: 8px;
}

#myTable td {
    width: 3cm; /* This sets the width of the table cells */
}